*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
   
}
#main{
    width:100%;
    min-height:100vh;
    background-image:-webkit-linear-gradient(135deg,blue,red);
    padding: 10px;
}    
#data{
    /* display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    background-color: white;
    max-width: 400px;
    margin: 100px auto 30px;
    padding:40px ;
    border-radius: 30px;

}
.firstline{
    display: flex;
    flex-direction: row;
}
#icon{
    width: 40px;
    margin-left: 10px;
}
.input{
    margin-top: 40px;
    display:flex;
    flex-direction: row;
    
}
#inputbar{
    width: 260px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(215, 214, 214);
    color:  rgb(98, 97, 97);
    position:absolute;
    outline-style: none;
    font-size: 20px;
    color: black;
    
}
#btn{
    z-index: 9999;
    width: 80px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: orangered;
    color: white;
    margin-left: 220px;
    border-style: none;
}
#btn:hover{
    cursor: pointer;
}
.list{
    margin-top: 25px;
    font-size: 20px;
    user-select: none;
}
.list li{
    list-style: none;
    margin-left: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    user-select: none;
}
/* .list  li::before{
    content: '';
    position: absolute;
    background-image:url(../images/unchecked.png) ;
    background-size: cover;
    background-position: ;
    height: 28px;
    width: 28px;
    top: 12px;
}    
 */

.list li span{
    position: absolute;
    font-size: 20px;
    right: 10px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 6px;
}

.checked{
    text-decoration: line-through;
}
